<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="SideJobConnectionString" connectionString="Data Source=s04.winhost.com;User ID=DB_33736_sidejob_user;Password=haithem759163" providerName="System.Data.SqlClient" />
    <!--<add name="AdDatabaseEntities" connectionString="metadata=res://*/App_code.AdListModel.csdl|res://*/App_code.AdListModel.ssdl|res://*/App_code.AdListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:s06.winhost.com;Initial Catalog=DB_33736_addatabase;User ID=DB_33736_addatabase_user;Password=haithem759163&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SidejobEntities" connectionString="metadata=res://*/App_code.SideJobLocationModel.csdl|res://*/App_code.SideJobLocationModel.ssdl|res://*/App_code.SideJobLocationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s04.winhost.com;user id=DB_33736_sidejob_user;password=haithem759163;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DB_33736_addatabaseEntities" connectionString="metadata=res://*/App_Code.AdDatabaseEntities.csdl|res://*/App_Code.AdDatabaseEntities.ssdl|res://*/App_Code.AdDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:s06.winhost.com;Initial Catalog=DB_33736_addatabase;User ID=DB_33736_addatabase_user;Password=haithem759163;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>